* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: SFRounded, ui-rounded, "SF Pro Rounded";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  appearance: none;
  border: none;
  font-family: SFRounded, ui-rounded, "SF Pro Rounded";
  background-image: linear-gradient(to right, #3898FF, #7A70FF);
  display: inline-flex;
  line-height: 1;
  font-size: 16px;
  font-weight: 700;
  height: 35px;
  padding: 0 24px;
  border-radius: 9999px;
  align-items: center;
  color: white;
  transition: all ease 100ms
}

button:not(:disabled):hover {
  transform: scale(1.04)
}

button[data-minting="true"] {
   background: rgba(22, 25, 31, 0.24);
}

button[data-minted="true"] {
   opacity: 0
}

h1 {
  font-size: 24px;
  margin-bottom: 24px;
}

h2 {
  font-size: 18px;
  margin-bottom: 24px;
}

p {
  margin-bottom: 12px
}

a {
  color: inherit
}